@use '../../App.scss' as main;

.hero {
  background-image: url('/public/assets/hero-3.jpg');
  color: main.$color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // Semi-transparent overlay for better text visibility
    z-index: 1;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    z-index: 2;
  }

  .hero-left {
    flex: 1;

    .hero-title {
      font-size: 3rem;
    }

    .hero-description {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .hero-list {
      list-style: none;
      font-size: 1.5rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
